body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #152331; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #000000,
    #152331
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #000000,
    #152331
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
  font-family: "Fredoka", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 1rem;
  padding: 2rem;
}
